body {
  background: $white;
  color: $black;
}

.row {
  @include make-row();
}

.title-block {
  @include make-md-column(10);
  @include make-md-column-offset(1);

  p,
  .title {
    text-align: center;
  }
}

.drop-area {
  @include make-md-column(4);
  @include make-md-column-offset(4);
  .drop-box{
    @include link-transition(500ms);
    display: block;
    margin: 0 auto;
    height: 100px;
    width: 300px;
    cursor: pointer;
    background-color: $white;
    border: 3px solid $magenta;
    border-radius: 10px;
    color: $magenta;
    &:hover, &:focus, &:active {
      background: $magenta;
      color: $white;
    }
  }
  .drop-prompt {
    line-height: 50px;
    text-align: center;
    vertical-align: middle;

  }
}

.spectrum {
  @include make-md-column(6);
  .fft {
    display: block;
    margin: 0 auto;
    height: 400px;
    width: 320px;
    background: $black;
  }
  .spectrum-title {
    text-align: center;
  }
}


